.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin:2vh;

    div{
        width: 200px;
        border:1px solid black;
        border-radius: 5px;
        margin: 10px;
    }
    img{
        height: 12vh;
        width: 12vh;
    }
    p{
        margin: 2px;
        padding: 5px;
    }
}